:root{
    --p1-1: #006d77;
    --p1-2: #83c5be;
    --p1-3: #edf6f9;

    --p2-1: #f6f7eb;
    --p2-2: #e94f37;
    --p2-3: #393e41;

    --p3-1: #9381ff;
    --p3-2: #b8b8ff;
    --p3-3: #f8f7ff;

    --p4-1: #0b132b;
    --p4-2: #1c2541;
    --p4-3: #3a506b;

    --p5-1: #cb997e;
    --p5-2: #ddbea9;
    --p5-3: #ffe8d6;

    --p6-1: #000000;
    --p6-2: #ff0000;
    --p6-3: #ffe100;

    --p7-1: #588b8b;
    --p7-2: #ffffff;
    --p7-3: #ffd5c2;
}